.success-message {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #31bd54;
    color: white;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    0% {
        transform: translate(-50%, 200%);
    }

    100% {
        transform: translate(-50%, -50%);
    }
}