.register-form {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.column {
    flex: 1;
    position: relative;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

label {
    position: absolute;
    top: -12px;
    left: 10px;
    transition: all 0.3s ease-in-out;
    color: #777;
    font-size: 12px;
}

.gap {
    width: 20px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    background-color: #FF5894;
    color: white;
}

.empty-space {
    width: 20px;
    /* Adjust the width of the empty space as needed */
}

.error {
    color: red;
    font-size: 12px;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}